name: n8n Demo CI

on:
  workflow_dispatch:
    inputs:
      trigger_source:
        description: "Who started the workflow"
        required: true
        default: "n8n"
      time:
        description: "Time when triggered"
        required: true
        default: "none"

jobs:
  run-demo:
    runs-on: ubuntu-latest
    steps:
      - name: Print start message
        run: echo "Workflow triggered by ${{ github.event.inputs.trigger_source }} at ${{ github.event.inputs.time }}"
